.LotteryBall {

}

.number-circle {
  width: 100px;
  height: 100px;
  background-color: #3498db; /* Circle background color */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Text color */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  border: 2px solid #2980b9; /* Border color */


}

.number {
  z-index: 1; /* Ensure the number is above the background */
}