.Pokecard {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background: white;
}

.Pokecard-data {
  font-size: 1.25rem;
  color: #444;
}

.Pokemon-image-container {
  position: relative; /* Ensure relative positioning for absolute positioning of the next image */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Set the desired width */
  height: 300px; /* Set the desired height */
  overflow: hidden; /* Hide any overflowing content */
  background-color: gainsboro;
}

/* Style the image inside the container */
.Pokemon-image-container img {
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.Pokecard-img {
  /* Styles for the default state */
}

.Pokecard-img:hover {
  /* Styles for the hovered state */
}

.Pokecard-img:hover + .Pokecard-img {
  /* Styles for the next image after the hovered image */
  /* Add your styles for the next image here */
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 100%; /* Adjust as needed */
  transform: translateX(10px); /* Adjust as needed */
}


.Pokecard-types {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.Pokecard-base {
  display: flex;
  flex-direction: column;
}

