.coin {
  mix-blend-mode: multiply;

}
.coin .coin-image {
  transition: transform 1s ease-in-out; /* Adjust the transition duration as needed */
}

img.coin-img-part {
  max-width: 200px;
}

.coin.flip .coin-image {
  transform: rotateY(180deg);
}
